{% extends "../../partials/layout-default.njk" %}

{% set heading = "Sorry, there is a problem with the service" %}
{% set pageTitle = "Problem with the service" %}
{% set backUrl = "/" %}

{% block innerContent %}
  {% if stack %}
    <pre><code>{{ stack }}</code></pre>
  {% else %}
    <p class="govuk-body">Try again later.</p>
  {% endif %}
{% endblock %}
