{% extends "../partials/layout.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "../components/emsServiceInformation.njk" import emsServiceInformation %}

{% block beforeContent %}
  {% if backUrl %}
    {{ govukBackLink({
      text: (backText if backText or "back"),
      href: backUrl
    }) }}
  {% endif %}
{% endblock %}

{% block content %}
  {{ emsServiceInformation() }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">{{ heading }}</h1>

      {% block innerContent %}{% endblock %}
    </div>
  </div>
{% endblock %}
