{% extends "../partials/layout.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "moj/components/sub-navigation/macro.njk" import mojSubNavigation %}
{% from "../partials/service-information-banner/macro.njk" import serviceInformationBanner %}

{% set mainClasses = "govuk-body" %}

{% block beforeContent %}
{% if backUrl %}
{{ govukBackLink({
  text: (backText if backText or "back"),
  href: backUrl
}) }}
{% endif %}
{% endblock %}

{% block content %}
{{ serviceInformationBanner() }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {{ mojSubNavigation({
      label: "Integrity order navigation",
      items: [
        {
          text: "Summary",
          href: '/integrity/' + legacySubjectId
        },
        {
          text: "Details",
          href: '/integrity/' + legacySubjectId + '/details'
        },
        {
          text: "Equipment",
          href: '/integrity/' + legacySubjectId + '/equipment-history'
        },
        {
          text: "Services",
          href: '/integrity/' + legacySubjectId + '/service-history'
        },
        {
          text: "Visits",
          href: '/integrity/' + legacySubjectId + '/visit-history'
        },
        {
          text: "Suspension of visits",
          href: '/integrity/' + legacySubjectId + '/suspension-of-visits-history'
        },
        {
          text: "Events",
          href: '/integrity/' + legacySubjectId + '/event-history'
        }
      ]
    }) }}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
    {% if subHeading %}
    <p class="govuk-body">{{ subHeading }}</p>
    {% endif %}

    {% block innerContent %}{% endblock %}
  </div>
</div>
{% endblock %}
