<div class="govuk-width-container phase-banner-container" role="region">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-phase-banner">
                <p class="govuk-phase-banner__content">
                    {% if env and env != 'PRODUCTION' %}
                        <span class='govuk-!-padding-right-2'>
                            {{govukTag({
                                text: env,
                                classes: "govuk-tag--red",
                                attributes: {
                                    'data-qa': 'env-tag'
                                }
                            })}}
                        </span>
                    {% else %}
                    <strong class="govuk-tag govuk-phase-banner__content__tag">
                        beta
                    </strong>
                    {% endif %}
                    {% if env and env != 'PRODUCTION' %}
                    <span class="govuk-phase-banner__text" data-qa="banner-text">
                        This version of the service is for testing purposes only. It is a replica of the live service to help you get familiar with it.
                    </span>
                    {% else %}
                    <span class="govuk-phase-banner__text" data-qa="banner-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo lorem eu libero efficitur commodo.
                    </span>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
</div>