# Default typescript template values:
# REDIS_ENABLED=false
# TOKEN_VERIFICATION_ENABLED=false

# # Credentials for allowing user access
# AUTH_CODE_CLIENT_ID=hmpps-typescript-template
# AUTH_CODE_CLIENT_SECRET=clientsecret

# # Credentials for API calls
# CLIENT_CREDS_CLIENT_ID=hmpps-typescript-template-system
# CLIENT_CREDS_CLIENT_SECRET=clientsecret

# Values we are using:
PORT=3000
HMPPS_AUTH_URL=http://localhost:9090/auth
TOKEN_VERIFICATION_API_URL=http://localhost:9090/verification
TOKEN_VERIFICATION_ENABLED=false
REDIS_ENABLED=false
NODE_ENV=development
AUTH_CODE_CLIENT_ID=hmpps-electronic-monitoring-datastore-ui
AUTH_CODE_CLIENT_SECRET=clientsecret
CLIENT_CREDS_CLIENT_ID=hmpps-electronic-monitoring-datastore-api
CLIENT_CREDS_CLIENT_SECRET=clientsecret
SESSION_SECRET=somesecretvalue
ENVIRONMENT_NAME=dev
