{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro emsDateFilter() %}

  <div class="ems-date-filter">

    {{ govukButton({
      text: "Show date filter",
      classes: "govuk-button--secondary"
    }) }}

    <div class="ems-date-filter__accordion-panel">

      {% call govukFieldset({
        classes: "ems-date-filter__fieldset"
      }) %}

        {{ govukInput({
          label: {
            classes: "govuk-label--l",
            isPageHeading: false
          },
          classes: "ems-date-filter__input",
          name: "startDate"
        }) }}

        <span> to </span>

        {{ govukInput({
          label: {
            classes: "govuk-label--l",
            isPageHeading: false
          },
          name: "endDate"
        }) }}

      {% endcall %}

      {{ govukButton({
        text: "Apply",
        classes: "ems-date-filter__filter-button"
      }) }}

    </div>

    <a href="#">x clear filters</a>

  </div>

{% endmacro %}
