{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% macro emsSortableTable(records, pageSize) %}

  {% set totalRecords = records.length %}
  {% set totalPages = (totalRecords / pageSize) | round(0, 'ceil') %}

  <div
    class="ems-sortable-table"
    data-totalrecords={{ totalRecords }}
    data-pagesize={{ pageSize }}
    data-totalpages={{ totalPages }}
  >

    <table
      class="govuk-table"  data-module="moj-sortable-table"
    >

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">

          <th
            scope="col"
            class="govuk-table__header name-header"
            aria-sort="none"
          >Name</th>

          <th
            scope="col"
            class="govuk-table__header created-on-header"
            aria-sort="ascending"
          >Created on</th>

          <th
            scope="col"
            class="govuk-table__header time-header"
            aria-sort="none"
          >Time</th>

          <th
            scope="col"
            class="govuk-table__header details-header govuk-!-width-one-half"
          >Notes</th>

        </tr>
      </thead>

      <tbody class="govuk-table__body">
        {% for record in records %}
          <tr class="govuk-table__row  ems-ui-table--row__hidden">

            <td
              class="govuk-table__cell"
              data-sort-value="{{ record.name }} "
            >
              <a href="{{ record.url }}">{{ record.name }}</a>
            </td>

            <td
              class="govuk-table__cell"
              data-sort-value="{{ record.created_on }}"
            >{{ record.created_on }}</td>

            <td
              class="govuk-table__cell"
              data-sort-value="{{ record.time }}"
            >{{ record.time }}</td>

            <td class="govuk-table__cell">{{ record.notes }}</td>
            
          </tr>
        {% endfor %}
      </tbody>
    </table>


    <nav class="govuk-pagination ems-sortable-table--pagination" aria-label="Pagination" data-current-page="1" data-total-pages={{ numberOfRecords }}>
      <div class="govuk-pagination__prev">
        <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
          <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
          </svg>
          <span class="govuk-pagination__link-title">
            Previous<span class="govuk-visually-hidden"> page</span>
          </span>
        </a>
      </div>
      <ul class="govuk-pagination__list">
        <li class="govuk-pagination__item">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
            1
          </a>
        </li>
        <li class="govuk-pagination__item govuk-pagination__item--current">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
            2
          </a>
        </li>
        <li class="govuk-pagination__item">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
            3
          </a>
        </li>
      </ul>
      <div class="govuk-pagination__next">
        <a class="govuk-link govuk-pagination__link" href="#" rel="next">
          <span class="govuk-pagination__link-title">
            Next<span class="govuk-visually-hidden"> page</span>
          </span>
          <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
          </svg>
        </a>
      </div>
    </nav>

  </div>

{% endmacro %}
