{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from '../../components/safeDateFormatters.njk' import safeGovukDate, safeGovukTime %}

{% macro curfewTimetable(event) %}
  {% set addressHtml %}
    {% if (event.properties.serviceAddress1 or event.properties.serviceAddress2 or event.properties.serviceAddress3 or event.properties.serviceAddressPostcode ) %}
    <p class="govuk-body">
      {{ event.properties.serviceAddress1 }}<br/>
      {{ event.properties.serviceAddress2 }}<br/>
      {{ event.properties.serviceAddress3 }}<br/>
      {{ event.properties.serviceAddress4 }}<br/>
      {{ event.properties.serviceAddressPostcode }}
    </p>
    {% endif %}
  {% endset %}

  {{
    govukSummaryList({
      rows: [
        { key: { text: "Service ID" }, value: { text: event.properties.serviceId } },
        { key: { text: "Address" }, value: { html: addressHtml } },
        { key: { text: "Service start date" }, value: { text: safeGovukDate(event.properties.serviceStartDate) } },
        { key: { text: "Service start time" }, value: { text: safeGovukTime(event.properties.serviceStartDate) } },
        { key: { text: "Service end date" }, value: { text: safeGovukDate(event.properties.serviceEndDate) } },
        { key: { text: "Service end time" }, value: { text: safeGovukTime(event.properties.serviceEndDate) } }
      ]
    })
  }}

  <h2 class="govuk-heading-m">Curfew dates</h2>

  {{
    govukSummaryList({
      rows: [
        { key: { text: "Curfew start date" }, value: { text: safeGovukDate(event.properties.curfewStartDate) } },
        { key: { text: "Curfew start time" }, value: { text: safeGovukTime(event.properties.curfewStartDate) } },
        { key: { text: "Curfew end date" }, value: { text: safeGovukDate(event.properties.curfewEndDate) } },
        { key: { text: "Curfew end time" }, value: { text: safeGovukTime(event.properties.curfewEndDate) } }
      ]
    })
  }}

  <h2 class="govuk-heading-m">Curfew schedule</h2>

  {{
    govukSummaryList({
      rows: [
        { key: { text: "Monday" }, value: { text: event.properties.monday } },
        { key: { text: "Tuesday" }, value: { text: event.properties.tuesday } },
        { key: { text: "Wednesday" }, value: { text: event.properties.wednesday } },
        { key: { text: "Thursday" }, value: { text: event.properties.thursday } },
        { key: { text: "Friday" }, value: { text: event.properties.friday } },
        { key: { text: "Saturday" }, value: { text: event.properties.saturday } },
        { key: { text: "Sunday" }, value: { text: event.properties.sunday } }
      ]
    })
  }}
{% endmacro %}
