{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from '../../components/safeDateFormatters.njk' import safeGovukDate, safeGovukTime %}

{% macro suspensionOfVisitsDetails(event) %}
  {{
    govukSummaryList({
      rows: [
        {
          key: { text: "Suspension of visits" },
          value: { text: event.suspensionOfVisits }
        },
        {
          key: { text: "Suspension of visits requested date" },
          value: { text: safeGovukDate(event.requestedDate) }
        },
        {
          key: { text: "Suspension of visits start date" },
          value: { text: safeGovukDate(event.startDate) }
        },
        {
          key: { text: "Suspension of visits start time" },
          value: { text: safeGovukTime(event.startTime) }
        },
        {
          key: { text: "Suspension of visits end date" },
          value: { text: safeGovukDate(event.endDate) }
        }
      ]
    })
  }}
{% endmacro %}
