{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from '../../components/safeDateFormatters.njk' import safeGovukTime, safeGovukDate %}

{% macro violationEventDetails(event) %}
  {{
    govukSummaryList({
      rows: [
        { key: { text: "Breach details" }, value: { text: event.properties.breachDetails } },
        { key: { text: "Breach enforcement outcome" }, value: { text: event.properties.breachEnforcementOutcome } },
        { key: { text: "Breach date" }, value: { text: safeGovukDate(event.properties.breachDateTime) } },
        { key: { text: "Breach time" }, value: { text: safeGovukTime(event.properties.breachDateTime) } },
        { key: { text: "Breach identified date" }, value: { text: safeGovukDate(event.properties.breachIdentifiedDateTime) } },
        { key: { text: "Breach identified time" }, value: { text: safeGovukTime(event.properties.breachIdentifiedDateTime) } },
        { key: { text: "Breach pack requested date" }, value: { text: safeGovukDate(event.properties.breachPackRequestedDate) } },
        { key: { text: "Breach pack sent date" }, value: { text: safeGovukDate(event.properties.breachPackSentDate) } },

        { key: { text: "Authority first notified date" }, value: { text: safeGovukDate(event.properties.authorityFirstNotifiedDateTime) } },
        { key: { text: "Authority first notified time" }, value: { text: safeGovukTime(event.properties.authorityFirstNotifiedDateTime) } },

        { key: { text: "Agency action" }, value: { text: event.properties.agencyAction } },
        { key: { text: "Agency action date" }, value: { text: safeGovukDate(event.properties.agencyActionDate) } },

        { key: { text: "Investigation outcome reason" }, value: { text: event.properties.investigationOutcomeReason } },
        { key: { text: "Enforcement reason" }, value: { text: event.properties.enforcementReason } },

        { key: { text: "Warning letter sent date" }, value: { text: safeGovukDate(event.properties.warningLetterSentDateTime) } },
        { key: { text: "Warning letter sent time" }, value: { text: safeGovukTime(event.properties.warningLetterSentDateTime) } },
        { key: { text: "Subject letter sent date" }, value: { text: safeGovukDate(event.properties.subjectLetterSentDate) } },
        { key: { text: "Summons server date" }, value: { text: safeGovukDate(event.properties.summonsServedDate) } },
        { key: { text: "Hearing date" }, value: { text: safeGovukDate(event.properties.hearingDate) } },
        { key: { text: "Section 9 date" }, value: { text: safeGovukDate(event.properties.section9Date) } }
      ]
    })
  }}
{% endmacro %}
