{% extends "../../partials/layout.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "../../components/emsServiceInformation.njk" import emsServiceInformation %}

{% set deviceWearerHeading = deviceWearer.heading %}
{% set orderDetailsHeading = orderDetails.heading %}
{% set orderDetailsRecords = orderDetails.records %}
{% set deviceWearerRecords = deviceWearer.records %}
{% set backUrl = backUrl %}

{% block content %}

  {{ emsServiceInformation() }}

  {{ govukBackLink({
    text: "back",
    href: backUrl
  }) }}

  <hr class="govuk-section-break govuk-section-break--m">

  <h1 class="govuk-heading-l">Order details</h1>

  <hr class="govuk-section-break govuk-section-break--m">

  {{ govukTable({
    caption: deviceWearerHeading,
    captionClasses: "govuk-table__caption--m",
    rows: deviceWearerRecords
  }) }}

  <hr class="govuk-section-break govuk-section-break--m">

  {{ govukTable({
    caption: orderDetailsHeading,
    captionClasses: "govuk-table__caption--m",
    rows: orderDetailsRecords
  }) }}

{% endblock %}
