{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from '../../../components/safeDateFormatters.njk' import safeGovukDate, safeGovukTime %}

{% macro integrityServiceDetails(event) %}
  {% set addressHtml %}
    {% if (event.properties.serviceAddress1 or event.properties.serviceAddress2 or event.properties.serviceAddress3 or event.properties.serviceAddressPostcode ) %}
    <p class="govuk-body">
        {% if (event.properties.serviceAddress1) %}
          {{ event.properties.serviceAddress1 }}<br/>
        {% endif %}
        {% if (event.properties.serviceAddress2) %}
          {{ event.properties.serviceAddress2 }}<br/>
        {% endif %}
        {% if (event.properties.serviceAddress3) %}
          {{ event.properties.serviceAddress3 }}<br/>
        {% endif %}
        {% if (event.properties.serviceAddress4) %}
          {{ event.properties.serviceAddress4 }}<br/>
        {% endif %}
        {{ event.properties.serviceAddressPostcode }}
    </p>
    {% endif %}
  {% endset %}

  {{
    govukSummaryList({
      rows: [
        { key: { text: "Service ID" }, value: { text: event.properties.serviceId } },
        { key: { text: "Address" }, value: { html: addressHtml } },
        { key: { text: "Service start date" }, value: { text: safeGovukDate(event.properties.serviceStartDate) } },
        { key: { text: "Service end date" }, value: { text: safeGovukDate(event.properties.serviceEndDate) } },
        { key: { text: "Curfew start date" }, value: { text: safeGovukDate(event.properties.curfewStartDate) } },
        { key: { text: "Curfew end date" }, value: { text: safeGovukDate(event.properties.curfewEndDate) } }
      ]
    })
  }}

  <h3 class="govuk-heading-s">Curfew schedule</h3>
  {% set curfewSchedule %}{{ safeGovukTime(event.properties.curfewStartDate) }} - {{ safeGovukTime(event.properties.curfewEndDate) }}{% endset %}

  {{
    govukSummaryList({
      rows: [
        {
          key: { text: "Monday" },
          value: { text: curfewSchedule if (event.properties.monday == 1) else "" }
        },
        {
          key: { text: "Tuesday" },
          value: { text: curfewSchedule if (event.properties.tuesday == 1) else "" }
        },
        {
          key: { text: "Wednesday" },
          value: { text: curfewSchedule if (event.properties.wednesday == 1) else "" }
        },
        {
          key: { text: "Thursday" },
          value: { text: curfewSchedule if (event.properties.thursday == 1) else "" }
        },
        {
          key: { text: "Friday" },
          value: { text: curfewSchedule if (event.properties.friday == 1) else "" }
        },
        {
          key: { text: "Saturday" },
          value: { text: curfewSchedule if (event.properties.saturday == 1) else "" }
        },
        {
          key: { text: "Sunday" },
          value: { text: curfewSchedule if (event.properties.sunday == 1) else "" }
        }
      ]
    })
  }}
{% endmacro %}
