{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from '../../../components/safeDateFormatters.njk' import safeGovukDate, safeGovukTime %}

{% macro integrityVisitDetails(event) %}
  {% set addressHtml %}
    {% if (event.properties.address) %}
      <p class="govuk-body">
        {% if (event.properties.address.addressLine1) %}
          {{ event.properties.address.addressLine1 }}<br/>
        {% endif %}
        {% if (event.properties.address.addressLine2) %}
          {{ event.properties.address.addressLine2 }}<br/>
        {% endif %}
        {% if (event.properties.address.addressLine3) %}
          {{ event.properties.address.addressLine3 }}<br/>
        {% endif %}
        {% if (event.properties.address.addressLine4) %}
          {{ event.properties.address.addressLine4 }}<br/>
        {% endif %}
        {{ event.properties.address.postCode }}
      </p>
    {% endif %}
  {% endset %}

  {{
    govukSummaryList({
      rows: [
        { key: { text: "Address" }, value: { html: addressHtml } },
        { key: { text: "Actual work start date" }, value: { text: safeGovukDate(event.properties.actualWorkStartDateTime) } },
        { key: { text: "Actual work start time" }, value: { text: safeGovukTime(event.properties.actualWorkStartDateTime) } },
        { key: { text: "Actual work end date" }, value: { text: safeGovukDate(event.properties.actualWorkEndDateTime) } },
        { key: { text: "Actual work end time" }, value: { text: safeGovukTime(event.properties.actualWorkEndDateTime) } },
        { key: { text: "Notes" }, value: { text: event.properties.visitNotes } },
        { key: { text: "Outcome" }, value: { text: event.properties.visitOutcome } }
      ]
    })
  }}
{% endmacro %}
