{% extends "../../partials/layout-integrity-order.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from '../../components/safeDateFormatters.njk' import safeGovukDate %}

{% set heading = "Order details" %}

{% block innerContent %}
  <h2 class="govuk-heading-m">Device wearer</h2>

  {{
    govukSummaryList({
      rows: [
        { key: { text: 'Specials' }, value:  { text: deviceWearerDetails.specials } },
        { key: { text: 'Legacy subject ID' }, value:  { text: deviceWearerDetails.legacySubjectId } },
        { key: { text: 'First name' }, value:  { text: deviceWearerDetails.firstName } },
        { key: { text: 'Last name' }, value:  { text: deviceWearerDetails.lastName } },
        { key: { text: 'Alias' }, value:  { text: deviceWearerDetails.alias } },
        { key: { text: 'Date of birth' }, value:  { text: safeGovukDate(deviceWearerDetails.dateOfBirth) } },
        { key: { text: 'Adult/child' }, value:  { text: deviceWearerDetails.adultOrChild } },
        { key: { text: 'Legacy sex' }, value:  { text: deviceWearerDetails.sex } },
        { key: { text: 'Contact' }, value:  { text: deviceWearerDetails.contact } },
        { key: { text: 'Primary address' }, value:  { html: deviceWearerDetails.primaryAddress | join('<br/>') } },
        { key: { text: 'Phone/mobile number' }, value:  { text: deviceWearerDetails.phoneOrMobileNumber } },
        { key: { text: 'PPO' }, value:  { text: deviceWearerDetails.ppo } },
        { key: { text: 'MAPPA' }, value:  { text: deviceWearerDetails.mappa } },
        { key: { text: 'Technical bail' }, value:  { text: deviceWearerDetails.technicalBail } },
        { key: { text: 'Manual risk' }, value:  { text: deviceWearerDetails.manualRisk } },
        { key: { text: 'Offence risk' }, value:  { text: orderDdeviceWearerDetailsetails.offenseRisk } },
        { key: { text: 'PostCode risk' }, value:  { text: orderdeviceWearerDetailsDetails.postCodeRisk } },
        { key: { text: 'False limb risk' }, value:  { text: ordedeviceWearerDetailsrDetails.falseLimbRisk } },
        { key: { text: 'Migrated risk' }, value:  { text: orderDdeviceWearerDetailsetails.migratedRisk } },
        { key: { text: 'Range risk' }, value:  { text: deviceWearerDetails.rangeRisk } },
        { key: { text: 'Report risk' }, value:  { text: deviceWearerDetails.reportRisk } }
      ]
    })
  }}

  <h2 class="govuk-heading-m">Order</h2>

  {{
    govukSummaryList({
      rows: [
        { key: { text: 'Order start date' }, value: { text: safeGovukDate(orderDetails.orderStartDate) } },
        { key: { text: 'Order end date' }, value: { text: safeGovukDate(orderDetails.orderEndDate) } },
        { key: { text: 'Order type' }, value: { text: orderDetails.orderType } },
        { key: { text: 'Order type description' }, value: { text: orderDetails.orderTypeDescription } },
        { key: { text: 'Order type detail' }, value: { text: orderDetails.orderTypeDetail } },
        { key: { text: 'Wearing wrist PID' }, value: { text: orderDetails.wearingWristPid } },
        { key: { text: 'Notifying organisation name' }, value: { text: orderDetails.notifyingOrganisationDetailsName } },
        { key: { text: 'Responsible organisation' }, value: { text: orderDetails.responsibleOrganisation } },
        { key: { text: 'Responsible organisation region' }, value: { text: orderDetails.responsibleOrganisationDetailsRegion } }
      ]
    })
  }}
{% endblock %}
