{% extends "../../partials/layout-integrity-order.njk" %}

{% from "../../partials/events-timeline/macro.njk" import eventTimeline %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set pageTitle = "Events" %}
{% set subHeading = "Violation alerts, monitoring events, incidents and contact history" %}

{% block innerContent %}
{%- if timeline | length -%}
{{ eventTimeline(timeline) }}
{% else %}
<h2 class="govuk-heading-m no-results-heading">No event history found</h2>

<p class="no-results-message">No event history was found for this order</p>
{% endif %}
{% endblock %}
