{% extends "../../partials/layout-order.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from '../../components/safeDateFormatters.njk' import safeGovukDate %}

{% set heading = "Key order details" %}
{% set pageTitle = applicationName + " - " + heading %}
{% set backUrl = backUrl %}

{% set summary = data.keyOrderInformation %}
{% set legacySubjectId = summary.legacySubjectId %}

{% block innerContent %}
  <h2 class="govuk-heading-m">Order information</h2>

  {%
    set fullName = [
      summary.firstName,
      summary.lastName
    ] | reject(null) | join(' ')
  %}
  {%
    set primaryAddress = [
      summary.address1,
      summary.address2,
      summary.address3,
      summary.postcode
    ] | reject(null) | join('<br>')
  %}
  {{
    govukSummaryList({
      rows: [
        { key: { text: 'Specials' }, value:  { text: summary.specials } },
        { key: { text: 'Legacy Subject ID' }, value:  { text: summary.legacySubjectId } },
        { key: { text: 'Legacy Order ID' }, value:  { text: summary.legacyOrderId } },
        { key: { text: 'Name' }, value:  { text: fullName } },
        { key: { text: 'Alias' }, value:  { text: summary.alias } },
        { key: { text: 'Date of birth' }, value:  { text: safeGovukDate(summary.dateOfBirth) } },
        { key: { text: 'Primary address' }, value:  { html: primaryAddress } },
        { key: { text: 'Order start date' }, value:  { text: safeGovukDate(summary.orderStartDate) } },
        { key: { text: 'Order end date' }, value:  { text: safeGovukDate(summary.orderEndDate) } }
      ]
    })
  }}

{% endblock %}
