{% extends "../../partials/layout-integrity-order.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from '../../components/safeDateFormatters.njk' import safeGovukDate %}

{% set heading = "Key order details" %}
{% set pageTitle = applicationName + " - " + heading %}
{% set backUrl = backUrl %}


{% set legacySubjectId = legacySubjectId %}

{% block innerContent %}
  <h2 class="govuk-heading-m">Order information</h2>

  {%
    set primaryAddress = [
      orderDetails.primaryAddressLine1,
      orderDetails.primaryAddressLine2,
      orderDetails.primaryAddressLine3,
      orderDetails.primaryAddressPostCode
    ] | reject(null) | join('<br>')
  %}
  {%
    set name = [
      orderDetails.firstName,
      orderDetails.lastName
    ] | reject(null) | join(' ')
  %}
  {{
    govukSummaryList({
      rows: [
        { key: { text: 'Specials' }, value:  { text: orderDetails.specials } },
        { key: { text: 'Legacy Subject ID' }, value:  { text: orderDetails.legacySubjectId } },
        { key: { text: 'Name' }, value:  { text: name } },
        { key: { text: 'Alias' }, value:  { text: orderDetails.alias } },
        { key: { text: 'Date of birth' }, value:  { text: safeGovukDate(orderDetails.dateOfBirth) } },
        { key: { text: 'Primary address' }, value:  { html: primaryAddress } },
        { key: { text: 'Order start date' }, value:  { text: safeGovukDate(orderDetails.orderStartDate) } },
        { key: { text: 'Order end date' }, value:  { text: safeGovukDate(orderDetails.orderEndDate) } }
      ]
    })
  }}

{% endblock %}
