{% extends "../../partials/layout-alcohol-monitoring-order.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from '../../components/safeDateFormatters.njk' import safeGovukDate %}

{% set heading = "Order details" %}
{% set pageTitle = applicationName + " - " + heading %}
{% set backUrl = backUrl %}

{% set legacySubjectId = details.legacySubjectId %}

{% block innerContent %}
  <h2 class="govuk-heading-m">Device wearer</h2>

  {% set offenseRisk = 'Yes' if details.offenceRisk else 'No' %}
  {%
    set primaryAddress = [
      details.address1,
      details.address2,
      details.address3,
      details.postcode
    ] | reject(null) | join('<br>')
  %}
  {{
    govukSummaryList({
      rows: [
        { key: { text: 'Legacy subject ID' }, value:  { text: details.legacySubjectId } },
        { key: { text: 'Legacy order ID' }, value:  { text: details.legacyOrderId } },
        { key: { text: 'First name' }, value:  { text: details.firstName } },
        { key: { text: 'Last name' }, value:  { text: details.lastName } },
        { key: { text: 'Alias' }, value:  { text: details.alias } },
        { key: { text: 'Legacy sex' }, value:  { text: details.sex } },
        { key: { text: 'Primary address' }, value:  { html: primaryAddress } },
        { key: { text: 'Phone/mobile number' }, value:  { text: details.phoneOrMobileNumber } }
      ]
    })
  }}

  <h2 class="govuk-heading-m">Order</h2>

  {{
    govukSummaryList({
      rows: [
        { key: { text: 'Order start date' }, value: { text: safeGovukDate(details.orderStartDate) } },
        { key: { text: 'Order end date' }, value: { text: safeGovukDate(details.orderEndDate) } },
        { key: { text: 'Order type' }, value: { text: details.orderType } },
        { key: { text: 'Order type description' }, value: { text: details.orderTypeDescription } },
        { key: { text: 'Order end outcome' }, value: { text: details.orderEndOutcome } },
        { key: { text: 'Special instructions' }, value: { text: details.specialInstructions } },
        { key: { text: 'Enforceable condition' }, value: { text: details.enforceableCondition } },
        { key: { text: 'Tag at sourced' }, value: { text: details.tagAtSource } },
        { key: { text: 'Responsible organisation phone number' }, value: { text: responsibleOrganisationPhoneNumber.responsibleOrganisation } },
        { key: { text: 'Responsible organisation email' }, value: { text: details.responsibleOrganisationEmail } }
      ]
    })
  }}
{% endblock %}
