{% extends "../../partials/layout-alcohol-monitoring-order.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from '../../components/safeDateFormatters.njk' import safeGovukDate %}

{% set heading = "Order details" %}
{% set pageTitle = applicationName + " - " + heading %}
{% set backUrl = backUrl %}

{% block innerContent %}
  <h2 class="govuk-heading-m">Device wearer</h2>

  {% set offenseRisk = 'Yes' if deviceWearerDetails.offenceRisk else 'No' %}
  {%
    set primaryAddress = [
      deviceWearerDetails.primaryAddressLine1,
      deviceWearerDetails.primaryAddressLine2,
      deviceWearerDetails.primaryAddressLine3,
      deviceWearerDetails.primaryAddressPostcode
    ] | reject(null) | join('<br>')
  %}
  {{
    govukSummaryList({
      rows: [
        { key: { text: 'Legacy subject ID' }, value:  { text: deviceWearerDetails.legacySubjectId } },
        { key: { text: 'Legacy order ID' }, value:  { text: deviceWearerDetails.legacyOrderId } },
        { key: { text: 'First name' }, value:  { text: deviceWearerDetails.firstName } },
        { key: { text: 'Last name' }, value:  { text: deviceWearerDetails.lastName } },
        { key: { text: 'Alias' }, value:  { text: deviceWearerDetails.alias } },
        { key: { text: 'Date of birth' }, value:  { text: safeGovukDate(deviceWearerDetails.dateOfBirth) } },
        { key: { text: 'Legacy sex' }, value:  { text: deviceWearerDetails.legacySex } },
        { key: { text: 'Primary address' }, value:  { html: primaryAddress } },
        { key: { text: 'Phone/mobile number' }, value:  { text: deviceWearerDetails.phoneOrMobileNumber } }
      ]
    })
  }}

  <h2 class="govuk-heading-m">Order</h2>

  {{
    govukSummaryList({
      rows: [
        { key: { text: 'Order start date' }, value: { text: safeGovukDate(orderDetails.orderStartDate) } },
        { key: { text: 'Order end date' }, value: { text: safeGovukDate(orderDetails.orderEndDate) } },
        { key: { text: 'Order type' }, value: { text: orderDetails.orderType } },
        { key: { text: 'Order type description' }, value: { text: orderDetails.orderTypeDescription } },
        { key: { text: 'Order end outcome' }, value: { text: orderDetails.orderEndOutcome } },
        { key: { text: 'Special instructions' }, value: { text: orderDetails.specialInstructions } },
        { key: { text: 'Enforceable condition' }, value: { text: orderDetails.enforceableCondition } },
        { key: { text: 'Tag at sourced' }, value: { text: orderDetails.tagAtSource } },
        { key: { text: 'Responsible organisation phone number' }, value: { text: orderDetails.responsibleOrganisationPhoneNumber } },
        { key: { text: 'Responsible organisation email' }, value: { text: orderDetails.responsibleOrganisationEmail } }
      ]
    })
  }}
{% endblock %}
