{% extends "../../partials/layout-alcohol-monitoring-order.njk" %}

{%- from "../../partials/events-timeline/macro.njk" import eventTimeline -%}
{%- from "govuk/components/summary-list/macro.njk" import govukSummaryList -%}

{% set pageTitle = "Services" %}

{% block innerContent %}
{%- if timeline | length -%}
{{ eventTimeline(timeline) }}
{% else %}
<h2 class="govuk-heading-m no-results-heading">No service history found</h2>

<p class="no-results-message">No service history was found for this order</p>
{% endif %}
{% endblock %}
