{% extends "../../partials/layout-alcohol-monitoring-order.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from '../../components/safeDateFormatters.njk' import safeGovukDate %}

{% set heading = "Key order details" %}

{% block innerContent %}
  <h2 class="govuk-heading-m">Order information</h2>

  {{
    govukSummaryList({
      rows: [
        { key: { text: 'Legacy Subject ID' }, value:  { text: legacySubjectId } },
        { key: { text: 'Name' }, value:  { text: orderSummary.name } },
        { key: { text: 'Alias' }, value:  { text: orderSummary.alias } },
        { key: { text: 'Date of birth' }, value:  { text: safeGovukDate(orderSummary.dateOfBirth) } },
        { key: { text: 'Primary address' }, value:  { html: orderSummary.primaryAddress | reject(null) | join('<br>') } },
        { key: { text: 'Order start date' }, value:  { text: safeGovukDate(orderSummary.orderStartDate) } },
        { key: { text: 'Order end date' }, value:  { text: safeGovukDate(orderSummary.orderEndDate) } }
      ]
    })
  }}

{% endblock %}
