{% extends "../partials/layout-default.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% set heading = "API test page" %}
{% set backUrl = "/" %}

{% block innerContent %}
  <p class="govuk-body">
    This page confirms we have recieved the following message from the API:
  </p>

  <pre><code>{{ data | dump }}</code></pre>

  <p class="govuk-body">
    <a href="/" class="govuk-link">Go back to the start</a>
  </p>
{% endblock %}
