{% extends "../partials/layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}
{% set searchUrl = "/search" %}

{% block content %}
  <h1>Electronic Monitoring Datastore</h1>
  
  <div class="govuk-grid-column-two-thirds">
      <p>
          Use this service for CMT users to search historial electronic monitoring data.
      </p>
      {{ govukButton({
          text: "Go to search page",
          href: searchUrl,
          isStartButton: true
      }) }}
      {{ govukButton({
          text: "Test API connection",
          href: "/test-api",
          isStartButton: true,
  classes: "govuk-button--secondary"
      }) }}
  </div>
{% endblock %}