{% extends "../partials/layout-default.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% set heading = applicationName %}
{% set searchUrl = "/search" %}

{% block innerContent %}
  <p>Use this service for CMT users to search historial electronic monitoring data.</p>

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Go to search page",
      href: searchUrl,
      isStartButton: true
    }) }}

    {% if (environmentName | upper == 'DEV') %}
      {{ govukButton({
        text: "Test API connection",
        href: "/test",
        isStartButton: true,
        classes: "govuk-button--secondary"
      }) }}
    {% endif %}
  </div>
{% endblock %}
