{% extends "../partials/layout.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{%- from "moj/components/pagination/macro.njk" import mojPagination -%}
{% from "../components/emsServiceInformation.njk" import emsServiceInformation %}
{% from  "../components/emsDateFilter.njk" import emsDateFilter %}
{% from  "../components/emsSortableTable.njk" import emsSortableTable %}

{% set pageTitle = applicationName + " - Order details" %}
{% set mainClasses = "app-container govuk-body" %}
{% set backUrl = backUrl %}
{% set orderDetails = data.keyOrderDetails %}
{% set reports = reports %}
{% set subjectHistory = data.subjectHistoryReport %}

{% set orderDocuments = [] %}
{% for document in data.documents.orderDocuments %}
  {% set orderDocuments = orderDocuments.concat(
    [[
      {
        html: '
          <a href="' + document.url + '">
            '+ document.name +'
          </a>
        ',
        attributes: {
            "data-sort-value": document.name
        }
      },
      {
        text: document.createdOn,
        attributes: {
          "data-sort-value": document.createdOn.split('-')[2] ~ document.createdOn.split[1] ~ document.createdOn.split[0]
        }
      },
      {
        text: document.time,
        attributes: {
          "data-sort-value": document.time
        }
      },
      {
        text: "See notes +"
      }
    ]]
  ) %}
{% endfor %}

{% block content %}

  {{ emsServiceInformation() }}

  {{ govukBackLink({
    text: "back",
    href: backUrl
  }) }}

  {{ govukTable({
    caption: "Key order details",
    captionClasses: "govuk-table__caption--m",
    firstCellIsHeader: true,
    rows: [
      [
        {text: "Legacy subject ID"},
        {text: orderDetails.legacySubjectId}
      ],
      [
        {text: "Name"},
        {text: orderDetails.name}
      ],
      [
        {text: "Alias"},
        {text: orderDetails.alias}
      ],
      [
        {text: "Date of birth"},
        {text: orderDetails.dateOfBirth}
      ],
      [
        {text: "Postcode"},
        {text: orderDetails.postcode}
      ],
      [
        {text: "Address"},
        {html: ' <span>'
          + orderDetails.address1
          + (('<br/>' + orderDetails.address2) if orderDetails.address2 else '')
          + (('<br/>' +  orderDetails.address3) if orderDetails.address3 else '')
          + '</span>'
        }
      ],
      [
        {text: "Tag type"},
        {text: orderDetails.tagType}
      ],
      [
        {text: "Start date"},
        {text: orderDetails.startDate}
      ],
      [
        {text: "End date"},
        {text: orderDetails.endDate}
      ]
    ]
  }) }}

  <hr class="govuk-section-break govuk-section-break--l">

  <div class="govuk-button-group ems-button-grid">
    {% if reports.orderDetails %} {{ govukButton({
      text: "Order details",
      href: '/orders/fakeId/details',
      classes: "govuk-button--secondary ems-button-grid__button"
      }) }} {% endif %}

    {% if reports.visitsAndTasks %} {{ govukButton({
      text: "Visits and tasks",
      href: '/orders/fakeId/visits-and-tasks',
      classes: "govuk-button--secondary ems-button-grid__button"
    }) }} {% endif %}

    {% if reports.eventHistory %} {{ govukButton({
      text: "Event history",
      href: '/orders/fakeId/event-history',
      classes: "govuk-button--secondary ems-button-grid__button"
    }) }} {% endif %}

    {% if reports.equipmentDetails %} {{ govukButton({
      text: "Equipment details",
      href: '/orders/fakeId/equipment-details',
      classes: "govuk-button--secondary ems-button-grid__button"
    }) }} {% endif %}

    {% if reports.curfewHours %} {{ govukButton({
      text: "Curfew hours",
      href: '/orders/fakeId/curfew-hours',
      classes: "govuk-button--secondary ems-button-grid__button"
    }) }} {% endif %}

    {% if reports.curfewViolations %} {{ govukButton({
      text: "Curfew violations",
      href: '/orders/fakeId/curfew-violations',
      classes: "govuk-button--secondary ems-button-grid__button"
    }) }} {% endif %}

    {% if reports.contactHistory %} {{ govukButton({
      text: "Contact history",
      href: '/orders/fakeId/contact-history',
      classes: "govuk-button--secondary ems-button-grid__button"
    }) }} {% endif %}

    {% if reports.suspensions %} {{ govukButton({
      text: "Suspensions",
      href: '/orders/fakeId/suspensions',
      classes: "govuk-button--secondary ems-button-grid__button"
    }) }} {% endif %}
  </div>

  <hr class="govuk-section-break govuk-section-break--l">

  {{ govukTable({
    caption: "Subject history report",
    captionClasses: "govuk-table__caption--m",
    firstCellIsHeader: false,
    head: [
      {text: "Name"},
      {text: "Created on"},
      {text: "Time"}
    ],
    rows: [
      [
        {html: ' <a href="' + subjectHistory.reportUrl + '">'
          + subjectHistory.name 
          +'</a>'
        },
        {text: subjectHistory.createdOn},
        {text: subjectHistory.time}
      ]
    ]
  }) }}

  <hr class="govuk-section-break govuk-section-break--l">

  <h2 class="govuk-heading-m"> All documents </h2>

  {{ emsDateFilter() }}


  {% set orderDocumentsHtml %}
    {{ emsSortableTable(data.documents.orderDocuments, data.documents.pageSize) }}
  {% endset %}

  {% set variationsHtml %}
    {{ govukTable({
      head: [
        {text: "Case manager"},
        {text: "Cases opened"},
        {text: "Cases closed"}
      ],
      rows: [
        [
          {text: "David Francis"},
          {text: "3"},
          {text: "0"}
        ],
        [
          {text: "Paul Farmer"},
          {text: "1"},
          {text: "0"}
        ],
        [
          {text: "Rita Patel"},
          {text: "2"},
          {text: "0"}
        ]
      ]
    }) }}
  {% endset -%}

  {% set enforcementsHtml %}
    {{ govukTable({
      head: [
        {text: "Case manager"},
        {text: "Cases opened"},
        {text: "Cases closed"}
      ],
      rows: [
        [
          {text: "David Francis"},
          {text: "98"},
          {text: "95"}
        ],
        [
          {text: "Paul Farmer"},
          {text: "122"},
          {text: "131"}
        ],
        [
          {text: "Rita Patel"},
          {text: "126"},
          {text: "142"}
        ]
      ]
    }) }}
  {% endset -%}

  {% set visitReportsHtml %}
    {{ govukTable({
      head: [
        {text: "Case manager"},
        {text: "Cases opened"},
        {text: "Cases closed"}
      ],
      rows: [
        [
          {text: "David Francis"},
          {text: "1380"},
          {text: "1472"}
        ],
        [
          {text: "Paul Farmer"},
          {text: "1129"},
          {text: "1083"}
        ],
        [
          {text: "Rita Patel"},
          {text: "1539"},
          {text: "1265"}
        ]
      ]
    }) }}
  {% endset -%}

  {{ govukTabs({
    items: [
      {
        label: "Order documents",
        id: "order-documents",
        panel: {
          html: orderDocumentsHtml
        }
      },
      {
        label: "Variations",
        id: "variations",
        panel: {
          html: variationsHtml
        }
      },
      {
        label: "Enforcements",
        id: "enforcements",
        panel: {
          html: enforcementsHtml
        }
      },
      {
        label: "Visit reports",
        id: "visit-reports",
        panel: {
          html: visitReportsHtml
        }
      }
    ]
  }) }}

{% endblock %}
