{% extends "../partials/layout.njk" %}


{% set pageTitle = makePageTitle({ pageHeading: page.title, hasErrors: errors }) %}

{% block content %}

  {{ emsServiceInformation() }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" novalidate id="order-search-form">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-1">{{ page.title }}</h1>
        <span class="govuk-caption-l  govuk-!-margin-bottom-5">You can search by subject ID, name, date of birth and alias</span>

        {% if emptyFormError %}
        <div class="govuk-form-group--error">
          <p class="govuk-error-message">{{ emptyFormError.text }}</p>
        {% endif %}

        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        {# TODO: Not enabled until we have alcohol monitoring #}
        {# {{ govukRadios({
          classes: "govuk-radios--small",
          name: "searchType",
          fieldset: {
            legend: {
              text: "What data are you searching for?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "integrity",
              text: "Integrity data only"
            },
            {
              value: "am",
              text: "Alcohol monitoring data only"
            }
          ],
          errorMessage: {
            text: "Select the type of data to search for"
          }
        }) }} #}

        {{ govukInput({
          label: {
            text: "Legacy Subject Id",
            classes: "govuk-label--s"
          },
          classes: "govuk-!-width-two-thirds",
          id: "subject-id",
          name: "subjectId",
          value: legacySubjectId.value,
          errorMessage: legacySubjectId.error
        }) }}

        {{ govukInput({
          label: {
            text: "First name",
            classes: "govuk-label--s"
          },
          classes: "govuk-!-width-two-thirds",
          id: "first-name",
          name: "firstName",
          value: firstName.value,
          errorMessage: firstName.error
        }) }}

        {{ govukInput({
          label: {
            text: "Last name",
            classes: "govuk-label--s"
          },
          classes: "govuk-!-width-two-thirds",
          id: "last-name",
          name: "lastName",
          value: lastName.value,
          errorMessage: lastName.error
        }) }}

        {{ govukDateInput({
          id: "dob",
          namePrefix: "dob",
          fieldset: {
            legend: {
              text: "Date of birth",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "For example, 01 02 1990"
          },
          
          items: [
            {
              name: "day",
              classes: "govuk-input--width-2",
              value: dob.value.day,
              attributes: disabled
            },
            {
              name: "month",
              classes: "govuk-input--width-2",
              value: dob.value.month,
              attributes: disabled
            },
            {
              name: "year",
              classes: "govuk-input--width-4",
              value: dob.value.year,
              attributes: disabled
            }
          ],
          errorMessage: dob.error
          }) }}
        
        {{ govukInput({
          label: {
            text: "Alias",
            classes: "govuk-label--s"
          },
          classes: "govuk-!-width-two-thirds",
          id: "alias",
          name: "alias",
          value: alias.value,
          errorMessage: alias.error
        }) }}
        
        {% if emptyFormError %}
          </div>
        {% endif %}

        {{ govukButton({
          text: "Search",
          classes: "ems-search-form__button--submit"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
