{% extends "../partials/layout.njk" %}

{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{%- from "govuk/components/table/macro.njk" import govukTable -%}
{%- from "moj/components/pagination/macro.njk" import mojPagination -%}
{% from "../components/emsServiceInformation.njk" import emsServiceInformation %}

{% set pageTitle = applicationName + " - Search results" %}
{% set mainClasses = "app-container govuk-body" %}
{% set tableRows = data %}

{% block content %}
  {{ emsServiceInformation() }}

  {{ govukBackLink({
    text: "refine search",
    href: "#"
  }) }}

  <hr class="govuk-section-break govuk-section-break--m">

{{ govukTable({
  caption: "Search results",
  captionClasses: "govuk-table__caption--l",
  attributes: {
    'data-module': 'moj-sortable-table'
  },
  classes: "search-results-table",
  head: [
    {
      text: "Subject ID",
      classes: "subject-id-header",
      attributes: {
        "aria-sort": "ascending"
      }
    },
    {
      text: "Name",
      classes: "name-header",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Date of birth",
      classes: "date-of-birth-header",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Order start date",
      classes: "order-start-date-header",
      attributes: {
        "aria-sort": "none"
      },
      format: "numeric"
    }
  ],
  rows: tableRows
}) }}

{{ mojPagination({
  items: [{
    text: '1',
    href: '/page=1'
  }, {
    text: '2',
    href: '/page=2',
    selected: true
  }, {
    text: '3',
    href: '/page=3'
  }, {
    type: 'dots'
  }, {
    text: '5',
    href: '/page=5'
  }],
  results: {
    count: 30,
    from: 10,
    to: 20,
    text: 'pages'
  },
  previous: {
    text: 'Previous',
    href: ''
  },
  next: {
    text: 'Next',
    href: ''
  }
}) }}

{% endblock %}
