{% extends "../partials/layout.njk" %}

{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{%- from "govuk/components/table/macro.njk" import govukTable -%}

{% set pageTitle = applicationName + " - Search results" %}
{% set mainClasses = "app-container govuk-body" %}

{% set mockRecords = [
  {
    subject_id: 1000000,
    name: "Amy Smith",
    alias: null,
    date_of_birth: "01-01-1970",
    order_start_date: "08-02-2019",
    order_details_url: "#"
  },{
    subject_id: 2000000,
    name: "Bill Smith",
    alias: "Plato",
    date_of_birth: "01-02-1971",
    order_start_date: "03-11-2020",
    order_details_url: "#"
  },
  {
    subject_id: 3000000,
    name: "Claire Smith",
    alias: null,
    date_of_birth: "09-04-1962",
    order_start_date: "05-08-2001",
    order_details_url: "#"
  },
  {
    subject_id: 8000000,
    name: "Daniel Smith",
    alias: "Aristotle",
    date_of_birth: "12-11-1978",
    order_start_date: "18-02-2012",
    order_details_url: "#"
  },
  {
    subject_id: 30000,
    name: "Emma Smith",
    alias: "Socrates",
    date_of_birth: "03-03-2001",
    order_start_date: "24-01-2017",
    order_details_url: "#"
  },
  {
    subject_id: 4000000,
    name: "Fred Smith",
    alias: null,
    date_of_birth: "08-10-1980",
    order_start_date: "01-05-2021",
    order_details_url: "#"
  }
]
%}

{% set rows = [] %}
{% for record in mockRecords %}
  {% set rows = rows.concat(
    [[
      {
        attributes: {
            "data-sort-value": record.subject_id
        },
        html: '
          <a href="' + record.order_details_url + '">
            '+ record.subject_id +'
          </a>
        '
      },
      {
        attributes: {
          "data-sort-value": record.name
        },
        html:
        ' <p>' + record.name + '</p>'
        + (('Alias: ' + record.alias) if record.alias else '')
      },
      {
        text: record.date_of_birth,
        attributes: {
            "data-sort-value": record.date_of_birth.split('-')[2] ~ record.date_of_birth.split[1] ~ record.date_of_birth.split[0]
        }
      },
      {
        text: record.order_start_date,
        attributes: {
            "data-sort-value": record.order_start_date.split('-')[2] ~ record.order_start_date.split[1] ~ record.order_start_date.split[0]
        },
        classes: 'govuk-table__cell--numeric'
      }
    ]]
  ) %}
{% endfor %}

{% block content %}

  {{ govukWarningText({
    text: "This service gives you access to all case data that was held by Capita and G4S from [date] to [date]",
    iconFallbackText: "Warning",
    classes: "service-information"
  }) }}

  {{ govukBackLink({
    text: "refine search",
    href: "#"
  }) }}

  <h1>Search results</h1>

{{ govukTable({
  attributes: {
    'data-module': 'moj-sortable-table'
  },
  head: [
    {
      text: "Subject ID",
      attributes: {
        "aria-sort": "ascending"
      }
    },
    {
      text: "Name",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Date of birth",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Order start date",
      attributes: {
        "aria-sort": "none"
      },
      format: "numeric"
    }
  ],
  rows: rows
}) }}

{% endblock %}
